[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
coverage = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
django-autoslug = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-resized = "*"
django-storages = {extras = ["dropbox"], version = "*"}
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-taggit = "*"
django-ckeditor = "*"
django-tinymce4-lite = "*"
six = "*"
django-crispy-forms = "*"
faker = "*"
factory-boy = "*"
django-environ = "*"
django-pdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
